<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comic.mapper.ComicClassifyMapper">
  <resultMap id="BaseResultMap" type="com.comic.pojo.ComicClassify">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classify_id" jdbcType="INTEGER" property="classifyId" />
    <result column="comic_id" jdbcType="INTEGER" property="comicId" />
  </resultMap>
</mapper>