<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comic.mapper.UserCollectMapper">
  <resultMap id="BaseResultMap" type="com.comic.pojo.UserCollect">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comic_id" jdbcType="INTEGER" property="comicId" />
    <result column="comic_name" jdbcType="VARCHAR" property="comicName" />
    <result column="comic_picture" jdbcType="VARCHAR" property="comicPicture" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>